<div class="row">
  <div id="tokenInformation" class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12" style="text-align: left;">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <font style="font-weight: bold; font-size: 15pt;">
          <span style="color: gray;" class="fas fa-file-alt">&nbsp;&nbsp;Datos de proyecto</span>
        </font>
      </div>
      <div id="titleResultInfo" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 10pt; padding-left: 20pt; padding-right: 20pt;">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12" style="border: 1px solid gray; padding-top: 5pt; padding-bottom: 5pt; background-color: #010067; color: white; font-weight: bold;">
            <h5>Atributo</h5>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 align-items-center" style="border: 1px solid gray; padding-top: 5pt; padding-bottom: 5pt; background-color: #010067; color: white; font-weight: bold;">
            <h5>Detalle</h5>
          </div>
        </div>
      </div>
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left: 20pt; padding-right: 20pt;">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12" style="border: 1px solid gray; padding-top: 5pt; padding-bottom: 5pt;">
            Proyecto
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 align-items-center" style="border: 1px solid gray; padding: 0;">
            <input id="proyectoInfo" class="form-control" readonly>
          </div>
        </div>
      </div>
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left: 20pt; padding-right: 20pt;">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12" style="border: 1px solid gray; padding-top: 5pt; padding-bottom: 5pt;">
            Alias
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 align-items-center" style="border: 1px solid gray; padding: 0;">
            <input id="tokenInfo" class="form-control" readonly>
          </div>
        </div>
      </div>
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left: 20pt; padding-right: 20pt;">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12" style="border: 1px solid gray; padding-top: 5pt; padding-bottom: 5pt;">
            Tipo
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 align-items-center" style="border: 1px solid gray; padding: 0;">
            <input id="tipoInfo" class="form-control" readonly>
          </div>
        </div>
      </div>
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left: 20pt; padding-right: 20pt;">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12" style="border: 1px solid gray; padding-top: 5pt; padding-bottom: 5pt;">
            Acciones totales
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 align-items-center" style="border: 1px solid gray; padding: 0;">
            <input id="accionesInfo" class="form-control" readonly>
          </div>
        </div>
      </div>
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left: 20pt; padding-right: 20pt;">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12" style="border: 1px solid gray; padding-top: 5pt; padding-bottom: 5pt;">
            Dirección Creador
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 align-items-center" style="border: 1px solid gray; padding: 0;">
            <input id="creadorInfo" class="form-control" readonly>
          </div>
        </div>
      </div>
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left: 20pt; padding-right: 20pt;">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12" style="border: 1px solid gray; padding-top: 5pt; padding-bottom: 5pt;">
            Sitio web
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 align-items-center" style="border: 1px solid gray; padding: 0;">
            <input id="webInfo" class="form-control" readonly>
          </div>
        </div>
      </div>
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left: 20pt; padding-right: 20pt;">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12" style="border: 1px solid gray; padding-top: 5pt; padding-bottom: 5pt;">
            Email
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 align-items-center" style="border: 1px solid gray; padding: 0;">
            <input id="emailSocial" class="form-control" readonly>
          </div>
        </div>
      </div>
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left: 20pt; padding-right: 20pt;">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12" style="border: 1px solid gray; padding-top: 5pt; padding-bottom: 5pt;">
            Facebook
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 align-items-center" style="border: 1px solid gray; padding: 0;">
            <input id="facebookSocial" class="form-control" readonly>
          </div>
        </div>
      </div>
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left: 20pt; padding-right: 20pt;">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12" style="border: 1px solid gray; padding-top: 5pt; padding-bottom: 5pt;">
            Twitter
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 align-items-center" style="border: 1px solid gray; padding: 0;">
            <input id="twitterSocial" class="form-control" readonly>
          </div>
        </div>
      </div>
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left: 20pt; padding-right: 20pt;">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12" style="border: 1px solid gray; padding-top: 5pt; padding-bottom: 5pt;">
            Telegram
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 align-items-center" style="border: 1px solid gray; padding: 0;">
            <input id="telegramSocial" class="form-control" readonly>
          </div>
        </div>
      </div>
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left: 20pt; padding-right: 20pt;">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12" style="border: 1px solid gray; padding-top: 5pt; padding-bottom: 5pt;">
            Whitepaper
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 align-items-center" style="border: 1px solid gray; padding: 0;">
            <input id="whitepaperSocial" class="form-control" readonly>
          </div>
        </div>
      </div>
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left: 20pt; padding-right: 20pt;">
        <div class="row">
          <div id="medidorScam" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">

          </div>
        </div>
      </div>
    </div>
	</div>
	<div id="tokenResultSearch" class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12" style="text-align: left;  border-left: 1px solid #e2e2e2;">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <font style="font-weight: bold; font-size: 15pt;">
    			<span style="color: gray;" class="fas fa-info-circle">&nbsp;&nbsp;Resultado de búsqueda</span>
    		</font>
      </div>
      <div id="titleResult" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 10pt; padding-left: 20pt; padding-right: 30pt;">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12" style="border: 1px solid gray; padding-top: 5pt; padding-bottom: 5pt; background-color: #010067; color: white; font-weight: bold;">
            <h5>Servicio</h5>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 align-items-center" style="border: 1px solid gray; padding-top: 5pt; padding-bottom: 5pt; background-color: #010067; color: white; font-weight: bold;">
            <h5>Estado</h5>
          </div>
        </div>
      </div>
      <div id="coinmarketcap" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left: 20pt; padding-right: 30pt;">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12" style="border: 1px solid gray; padding-top: 5pt; padding-bottom: 5pt;">
            <img src ="view/img/coinmarketcap.png" style="height: 20pt;">
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 align-items-center" style="border: 1px solid gray; padding-top: 5pt; padding-bottom: 5pt;">
            <span id="spanCoinmarketcap" style="color: green;" class=""></span>
          </div>
        </div>
      </div>
      <div id="coingeko" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left: 20pt; padding-right: 30pt;">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12" style="border: 1px solid gray; padding-top: 5pt; padding-bottom: 5pt;">
            <img src ="view/img/coingeko.png" style="height: 20pt;">
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 align-items-center" style="border: 1px solid gray; padding-top: 5pt; padding-bottom: 5pt;">
            <span id="spanCoingeko" style="color: green;" class=""></span>
          </div>
        </div>
      </div>
      <div id="pancakeswap" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left: 20pt; padding-right: 30pt;">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12" style="border: 1px solid gray; padding-top: 5pt; padding-bottom: 5pt;">
            <img src ="view/img/pancakeswap.png" style="height: 20pt;">
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 align-items-center" style="border: 1px solid gray; padding-top: 5pt; padding-bottom: 5pt;">
            <span id="spanPancakeswap" style="color: green;" class=""></span>
          </div>
        </div>
      </div>
      <div id="liquidez" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left: 20pt; padding-right: 30pt;">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12" style="border: 1px solid gray; padding-top: 5pt; padding-bottom: 5pt; font-weight: bold;">
            Liquidez Pancake Swap
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 align-items-center" style="border: 1px solid gray; padding-top: 5pt; padding-bottom: 5pt;">
            <span id="liquidezPancakeSwap" style="color: green;" class=""></span>
          </div>
        </div>
      </div>
      <div id="idBlockchain" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 20pt; display: none;">
        <img id="imgIdBlockchain" src ="view/img/bsc.png" style="height: 30pt;">
      </div>
      <div id="bodyScan" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 10pt; padding-right: 30pt; padding-left: 20pt; display: none;">
        <div class="row" style="border: 1px solid gray; margin-bottom: 30pt; padding: 10pt;">
          <div id="idBodyScan"  class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
          </div>
          <div id="idAlertScan" class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <br>
          </div>
        </div>
      </div>
    </div>
	</div>
</div>
