<div>
  <div id="mensajeWssp" style="display: none; margin-bottom: -20pt; margin-right: 15pt; width: 250pt; border: 3px solid #464646; border-radius: 5px 5px 5px 5px; -moz-border-radius: 5px 5px 5px 5px; -webkit-border-radius: 5px 5px 5px 5px; -webkit-box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.55); -moz-box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.55); box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.55);">
    <div class="container">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height: 20pt; background-color: #6C757D; color: white; font-weight: bold; border-bottom: 2px solid #656565;">
          Envianos tu consulta
          <button id="cierraTextoWssp" type="button" class="close">&times;</button>
        </div>
        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-xs-9" style="height: 60pt; padding-left: 0pt; padding-right: 0pt;">
          <textarea id="textoWssp" style="width: 100%; height: 100%; resize: none; padding: 5pt;" placeholder="Escribe tu consulta aquí"></textarea>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3" style="height: 60pt; padding-left: 0pt; padding-right: 0pt; border: 1px solid #6C757D;">
          <button id="btnEnviarTextoWssp" type="button" name="button" class="btn btn-primary" style="width: 100%; height: 100%; border-radius: 0px 0px 0px 0px;
          -moz-border-radius: 0px 0px 0px 0px;
          -webkit-border-radius: 0px 0px 0px 0px; border: 1px solid #6C757D;">Enviar</button>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div id="bocadilloWssp" style="display: none;">
    <img src="view/img/bocadillo.png" style="float: right;">
  </div>
  <br>
  <button id="btnWssp" type="button" class="botonwssp" style="cursor: pointer; display: none; float: right; background: transparent; border: none !important; font-size:0; outline: none; border: none; transition: opacity 1s;">
    <img src="view/img/whatsapp_fondo.png" style="float: right; width: 40pt; margin-top: -10pt;">
  </button>
</div>
