<div class="row">
  <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5 col-xs-12 mr-auto" style="text-align: left;">
    <img src ="view/img/logo_scal.png" style="height: 30px; margin-top: 10px;">
  </div>
  <div id="groupSearchAddress" class="col-xl-5 col-lg-5 col-md-8 col-sm-7 col-xs-12 input-group" style="text-align: left;">
   <div class="input-group-prepend">
     <select disabled id="selectBlock" class="form-control">
      <option value="bsc">bsc</option>
      <option value="eth">eth</option>
      <option value="btc">btc</option>
      <option value="car">cardano</option>
     </select>
   </div>
   <input type="text" id="address" value="" placeholder="0x0000000000000000000000000000000000000000" class="form-control input-valid">
   <div class="input-group-prepend">
     <button type="button" id="checkAddress" class="btn btn-dark form-control">
       <span class="fas fa-search">&nbsp;&nbsp;Buscar</span>
     </button>
   </div>
  </div>
</div>
